data/**
daje/**
bin/**
.pyenv/**
.*/**
configurations/**
terraform.tfstate
!.gitignore
cluster-*/**
pull.json
configuration.yaml
**/terraform.tf.json
**/.terraform/*
terraform.tfstate.backup
.terraform.tfstate.lock.info
install-config.yaml
configuration copy.yaml
